@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Georgia, Times, serif;
    background-color: #96c;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
    background-color: black;
}

.logo {
    height: 4rem;
    width: auto;
    background-color: black;
    padding: .5rem 5%;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/jackonhill.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-position:center top;
    background-size: 17rem;
}

h1 {
    color: white;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 5.5rem 5% 0;
}

article {
    padding: 0 5%;
}

h2 {
    font-family: Georgia, Times, serif;
    font-size: 2rem;
    color: #60c;
    margin: 1.5rem 0 1.5rem;
}

p {
    line-height: 1.5rem;
    margin 1.5rem 0 1.5rem;
}

.dropcap:first-letter {
    font-size: 5.5rem;
    font-weight: bold;
    font-style: normal;
    float: left;
    margin: 1.4rem .5rem 1rem 0;
    color: #60c;
}

h3 {
    font-weight: normal;
    font-style:italic;
    color: #60c;
    margin: 0 0 1.5rem;
}

hr {
    border: solid 2px #60c;
}

figure {
    margin: 0 auto 1.5rem;
    width: 100%;
}

figcaption {
    font-size: .75rem;
    line-height: 1.125rem;
    font-weight: bold;
    margin: 1.5rem 0 0;
}

footer {
    background-color: black;
    overflow: hidden;
}

footer p {
    color: #96c;
    padding: .5rem 5% 0;
    margin: 0;
}

ul {
    color: #96c;
    font-size: .75rem;
}

a {
    color: #96c;
}